{% extends "base.html" %}

{% block content %}
        <div class="maintext">
            <p>Not Dominos is a pizza delivery service that is not affiliated with Dominos.</p>
            <p>Our pizza is not made with the freshest ingredients and is not delivered in 30 minutes or less.</p>
            <p>Our pizza is not the best pizza in the world, but it is not the worst either.</p>
            <p>Order now and get a free side of not breadsticks!</p>
            <a href="order.html">Order Now</a>
        </div>
{% endblock %}